.card {
    font-size: 150px;
    line-height: 150px;
    /* font-weight: 300; */
}

.clickable {
    cursor: pointer;
}

.selected {
    /* border: 3px solid yellow; */
    opacity: .5;
}

.red {
    color: darkred;
}
