#header {
    display: flex;
    align-items: center;
}

#winner {
    font-size: 40px;
    margin-left: 200px;
}

.hand {
    display: flex;
    align-items: center;
}

.currentHand {
    display: flex;
}

button {
    border-radius: 10px;
    height: 50px;
    width: 150px;
    margin: 10px;
}

#determineWinner {
    margin-left: 350px;
}
